{%- comment -%}
  Long-line arrow used by the Gift Guide Banner buttons.
  Inline SVG with currentColor so it inherits the button's text colour and
  flips black<->white during the hover animation.
{%- endcomment -%}
<span class="gift-banner__btn-arrow" aria-hidden="true">
  <svg viewBox="0 0 27.0072 11.0459" fill="none" xmlns="http://www.w3.org/2000/svg" focusable="false">
    <path d="M0.75 4.77297H0V6.27297H0.75V5.52297V4.77297ZM26.7876 6.0533C27.0805 5.76041 27.0805 5.28553 26.7876 4.99264L22.0146 0.21967C21.7217 -0.0732236 21.2468 -0.0732236 20.9539 0.21967C20.6611 0.512563 20.6611 0.987437 20.9539 1.28033L25.1966 5.52297L20.9539 9.76561C20.6611 10.0585 20.6611 10.5334 20.9539 10.8263C21.2468 11.1192 21.7217 11.1192 22.0146 10.8263L26.7876 6.0533ZM0.75 5.52297V6.27297H26.2572V5.52297V4.77297H0.75V5.52297Z" fill="currentColor"/>
  </svg>
</span>
